@model IMS.PRODUCT_CATEGORY

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_sidePanelPage.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PRODUCT_CATEGORY</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CATEGORY.Category_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CATEGORY.Category_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRODUCT.Product_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRODUCT.Product_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRODUCT_DETAILS.Product_Detail_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRODUCT_DETAILS.Product_Detail_ID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Product_Category_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
