@model IEnumerable<IMS.ROLE>

@{
    ViewBag.Title = "All Roles";
    Layout = "~/Views/Shared/_sidePanelPage.cshtml";
}

<h2>Roles</h2>

<p style="margin-top:20px;">
    @Html.ActionLink("Add New Role", "Create")
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Role_Name)
        </th>
        <th> Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Role_Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Role_ID }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Details", "Details", new { id = item.Role_ID }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Role_ID }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
