@model IMS.ORDER_DETAIL

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_sidePanelPage.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ORDER_DETAIL</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Unit_Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unit_Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ORDER.Order_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ORDER.Order_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PAYMENT.Payment_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PAYMENT.Payment_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRODUCT.Product_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRODUCT.Product_Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
